<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đang ký tài khoản!</title>
    
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script>
         

    </script>
    <style>
        @media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}

.gradient-custom-2 {
/* fallback for old browsers */
background: #a1c4fd;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
}

.bg-indigo {
background-color: #4835d4;
}
@media (min-width: 992px) {
.card-registration-2 .bg-indigo {
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
}
}
@media (max-width: 991px) {
.card-registration-2 .bg-indigo {
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}
}

    </style>
    
    
</head>
<body>
    <div class="navbar">
      <%- include('Views_Include/navbar'); %>
    </div>
    <div class="main">
        <section class="h-100 h-custom gradient-custom-2">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                  <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                      <% if(typeof errors != 'undefined') { %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          <ul class="mb-0">
                            <% errors.forEach(function(err){ %>
                              <li><%= err.msg %></li>	
                            <% }); %>
                          </ul>
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                      <% } %>
                    <form action="views_nguoidung_dangky" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                      <div  class="row g-0">
                        <div class="col-lg-6">
                          <div class="p-5">
                            <h3 class="fw-normal mb-5" style="color: #4835d4;">Thông tin cá nhân</h3>
                          
                            <div class="col-md-6 mb-4">
      
                              <h6 class="mb-2 pb-1">Loại người dùng </h6>
            
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="LoaiNguoiDung_ND" id="LoaiNguoiDung_ND"
                                  value="Khách hàng" checked />
                                <label class="form-check-label" for="GioiTinh">Khách hàng</label>
                              </div>
            
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="LoaiNguoiDung_ND" id="LoaiNguoiDung_ND"
                                  value="Chủ trọ" />
                                <label class="form-check-label" for="GioiTinh">Chủ trọ</label>
                              </div>
            
                            
            
                            </div>
          
                            <div class="row">
                              <div class="col-md-6 mb-4 pb-2">
          
                                <div class="form-outline">
                                  <input type="text" id="TenDN_ND" name="TenDN_ND" class="form-control form-control-lg" required />
                                  <label class="form-label" for="TenDN_ND">Tên đăng nhập</label>
                                </div>
          
                              </div>
                              <div class="col-md-6 mb-4 pb-2">
          
                                <div class="form-outline">
                                  <input type="password" id="MK_ND" name="MK_ND" class="form-control form-control-lg" required />
                                  <label class="form-label" for="MK_ND">Mật khẩu</label>
                                </div>
          
                              </div>
                            </div>
          
                            <div class="mb-4 pb-2">
                                <div class="form-outline">
                                  <input type="text" id="Ten_ND" name="Ten_ND" class="form-control form-control-lg" required />
                                  <label class="form-label" for="Ten_ND">Tên người dùng</label>
                                </div>
                              </div>
                            <div class="mb-4 pb-2">
                              <div class="form-outline">
                                <input type="text" id="NgaySinh_ND" name="NgaySinh_ND" class="form-control form-control-lg" required />
                                <label class="form-label" for="NgaySinh_ND">Ngày sinh</label>
                              </div>
                            </div>
                            <div class="mb-4 pb-2">
                                <div class="form-outline">
                                  <input type="file" id="Anh_ND" name="Anh_ND" class="form-control form-control-lg" required />
                                  <label class="form-label" for="Anh_ND">Chọn ảnh</label>
                                </div>
                              </div>
          
                        
          
                          </div>
                        </div>
                        <div class="col-lg-6 bg-indigo text-white">
                          <div class="p-5">
                            <h3 class="fw-normal mb-5">Địa chỉ liên hệ</h3>
          
                            <div class="mb-4 pb-2">
                              <div class="form-outline form-white">
                                <input type="text" id="Email_ND" name="Email_ND" class="form-control form-control-lg" required />
                                <label class="form-label" for="Email_ND">Email</label>
                              </div>
                            </div>
          
                            <div class="mb-4 pb-2">
                              <div class="form-outline form-white">
                                <input type="text" id="DienThoai_ND" name="DienThoai_ND" class="form-control form-control-lg" required />
                                <label class="form-label" for="DienThoai_ND">SDT</label>
                              </div>
                            </div>
          
                            <div class="row">
                              <div class="col-md-5 mb-4 pb-2">
          
                                <div class="form-outline form-white">
                                  <input type="text" id="DiaChi_ND" name="DiaChi_ND" class="form-control form-control-lg" required/>
                                  <label class="form-label" for="DiaChi_ND">Địa chỉ</label>
                                </div>
          
                              </div>
                              <div class="col-md-7 mb-4 pb-2">
          
                                <div class="form-outline form-white">
                                  <input type="text" id="CMND_ND" name="CMND_ND" class="form-control form-control-lg" required/>
                                  <label class="form-label" for="CMND_ND">CCCD</label>
                                </div>
          
                              </div>
                            </div>
          
          
                          
                            <button type="submit" class="btn btn-light btn-lg"
                              data-mdb-ripple-color="dark">Đăng ký tài khoản</button>
                     
                          </div>
                     
                        </div>
                      </div>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
    </div>
    <div class="footer">
      <%- include('Views_Include/footer'); %>
    </div>
   
   
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>






















