<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Majestic Admin</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="/public_admin/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="/public_admin/vendors/base/vendor.bundle.base.css"
    />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link
      rel="stylesheet"
      href="/public_admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css"
    />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/public_admin/css/style.css" />
    <!-- endinject -->
    <link rel="shortcut icon" href="/public_admin/images/favicon.png" />
    <style>
      .gradient-custom-2 {
/* fallback for old browsers */
background: #fccb90;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}
  </style>
  
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <%- include('Views_Include/navbar'); %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <%- include('Views_Include/sidebar'); %>
        <!-- partial -->
        <div class="main-panel">
          <section class="h-100 gradient-form" style="background-color: #eee;">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                  <div class="card rounded-3 text-black">
                    <div class="row g-0">
                      <div class="col-lg-6">
                        <div class="card-body p-md-5 mx-md-4">
          
                          <div class="text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                              style="width: 185px;" alt="logo">
                            <h4 class="mt-1 mb-5 pb-1">Chào mừng đến với Luxstay</h4>
                          </div>
          
                          <form action="/views_nguoidung_dangnhap" method="post" class="needs-validation" novalidate>
                            <p>Vui lòng đăng nhập để sử dụng!</p>
                          
                            <div class="form-outline mb-4">
                              <input type="text" id="TenDN_ND" name="TenDN_ND" class="form-control"
                                placeholder="Tên tài khoản" />
                              <label class="form-label" for="TenDN_ND">Tài khoản</label>
                            </div>
          
                            <div class="form-outline mb-4">
                              <input type="password" id="MK_ND" name="MK_ND" class="form-control" placeholder="Mật khẩu" />
                              <label class="form-label" for="MK_ND">Mật khẩu</label>
                            </div>
          
                            <div class="text-center pt-1 mb-5 pb-1">
                              <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Đăng nhập</button>
                              <a class="text-muted" href="#!">Quên mật khẩu?</a>
                            </div>
          
                            <div class="d-flex align-items-center justify-content-center pb-4">
                              <p class="mb-0 me-2">Bạn chưa có tài khoản?</p>
                            
                              <button role="button" class="btn btn-outline-danger">Tạo tài khoản mới</button>
                           
                            
                            </div>
          
                          </form>
          
                        </div>
                      </div>
                      <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                        <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                          <h4 class="mb-4">Chào mừng bạn đến với công ty phần mềm Luxstay</h4>
                          <p class="small mb-0">Luxstay được xây dựng và phát triển bởi ba thằng cặc lỏ:Trần Thanh Nhàng(Fullstack Developer) Võ Tấn Khôi(NodeJS Developer) Mai Tiến Khôi(ReacJS Developer&Docker) chúng tôi hân hạnh cho ra phần mềm như củ cặc.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div class="content-wrapper">
           
            
         
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
         
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
  </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="/public_admin/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="/public_admin/vendors/chart.js/Chart.min.js"></script>
    <script src="/public_admin/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="/public_admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/public_admin/js/off-canvas.js"></script>
    <script src="/public_admin/js/hoverable-collapse.js"></script>
    <script src="/public_admin/js/template.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="/public_admin/js/dashboard.js"></script>
    <script src="/public_admin/js/data-table.js"></script>
    <script src="/public_admin/js/jquery.dataTables.js"></script>
    <script src="/public_admin/js/dataTables.bootstrap4.js"></script>
    <!-- End custom js for this page-->
  </body>
</html>













