
a.property-thumbnail img{
    width: 600px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
} 
.tomtat{
    display: -webkit-box;
    height: 17px*1.3*3;
    -webkit-line-clamp: 2;  /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ten{
    
    font-size: 17pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

button.loc{
    border: 0;
    border-radius: 0;
    text-align: center;
    background-size: 205% auto;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(45deg, #0f7aec 0%, #09f7eb  51%, #05b749  110%);
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 3px 7px rgb(203, 202, 202);
}
.loc:hover {
    background-position: right center;
    color: rgb(19, 18, 18);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    }
a.docthem{
    float: right; margin-top: -50px; margin-right: -15px;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-size: 205% auto;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(45deg, #0f7aec 0%, #09f7eb  51%, #05b749  110%);
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 3px 7px rgb(203, 202, 202);
    }
.docthem:hover {
background-position: right center;
color: rgb(19, 18, 18);
text-decoration: none;
transition: all 0.3s ease-in-out;
}
.arrow-up {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 15px solid transparent;
    z-index: 10;
    border-bottom: 5px solid rgb(65, 130, 181);
    float: right; margin-top: -60px; margin-right: -15px;
    }
button.pagination{
    border: 0;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}

body
{
    height: 100%;
    margin: 0;
    user-select: none;
    -webkit-tap-highlight-color:transparent;
    background-color: #234363;
}
#app
{
    position: absolute;
    top: 90%;
    right:0;
    left: 0;
    width: auto;
    margin: 0 auto;
    transform: translateY(-50%);
    overflow: hidden;
    z-index:1;
}

.button
{
    border:0;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: rgb(244, 244, 244);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s ease width;
    color: rgb(117, 119, 119);
}

.button:last-child
{
    margin-right: 0;
}

.button.active
{
    width: 80px;
    cursor: auto;
    font-weight: bold;
    color: rgb(241, 134, 152);
}