<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chào mừng <%= session.Ten_ND %></title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/chutro/assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/chutro/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="/chutro/assets/css/demo_1/style.css">
    <!-- Layout style -->
    <link rel="shortcut icon" href="/chutro/assets//images/favicon.ico" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="http://localhost:3000/js/sweetalert2.js"></script>
</head>
<body class="header-fixed">
  <% if(session.sc) { %> 
    <script>Success("<%= session.sc %>")</script>
  <% } session.sc = null %> %>
    <%- include('include/header') %>
    <div class="page-body">
        <%- include('include/sidebar') %>
      
    </div>
</body>
    <script src="/chutro/assets/vendors/js/core.js"></script>
        <!-- endinject -->
        <!-- Vendor Js For This Page Ends-->
    <script src="/chutro/assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="/chutro/assets/vendors/chartjs/Chart.min.js"></script>
    <script src="/chutro/assets/js/charts/chartjs.addon.js"></script>
    <!-- Vendor Js For This Page Ends-->
    <!-- build:js -->
    <script src="/chutro/assets/js/template.js"></script>
    <script src="/chutro/assets/js/dashboard.js"></script>
</html>