<link rel="stylesheet" href="/chutro/assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/chutro/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="/chutro/assets/css/demo_1/style.css">
    <!-- Layout style -->
    <link rel="shortcut icon" href="/chutro/assets//images/favicon.ico" />
<div class="sidebar">
    <div class="user-profile">
      <div class="display-avatar animated-avatar">
        <% if(session.Anh_ND!=null){ %>
          <img class="profile-img img-lg rounded-circle" src="http://localhost:3000/<%= session.Anh_ND %>" alt="profile image">
        <% }else{ %>
        <img class="profile-img img-lg rounded-circle" src="/chutro/assets/images/profile/male/image_1.png" alt="profile image">
        <% } %>
      </div>
      <div class="info-wrapper">
        <p class="user-name"><%= session.Ten_ND %></p>
        <h6 class="display-income">$3,400,00</h6>
      </div>
    </div>
    <ul class="navigation-menu">
      <li class="nav-category-divider">MAIN</li>
      <li>
        <a href="/chutro">
          <span class="link-title">Dashboard</span>
          <i class="mdi mdi-gauge link-icon"></i>
        </a>
      </li>
      
      <li>
        <a href="#ui-elements" data-toggle="collapse" aria-expanded="false">
          <span class="link-title">Nhà trọ</span>
          <i class="mdi mdi-home-map-marker link-icon"></i>
        </a>
        <ul class="collapse navigation-submenu" id="ui-elements">
          <li>
            <a href="/chutro/nhatro_cuatoi">Danh sách</a>
          </li>
          <li>
            <a href="/chutro/dangky_nhatro">Đăng ký trọ</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#ui-elements1" data-toggle="collapse" aria-expanded="false">
          <span class="link-title">Bài đăng</span>
          <i class="mdi mdi-home-map-marker link-icon"></i>
        </a>
        <ul class="collapse navigation-submenu" id="ui-elements1">
          <li>
            <a href="/chutro/baidang_cuatoi">Danh sách</a>
          </li>
          <li>
            <a href="/chutro/baidang_them">Tạo bài đăng</a>
          </li>
        </ul>
      </li>
      
      <li class="nav-category-divider">More</li>
      <li>
        <a href="/chutro/dangxuat_chutro">
          <span class="link-title">Đăng xuất</span>
          <i class="mdi mdi-asterisk link-icon"></i>
        </a>
      </li>
    </ul>
    <div class="sidebar-upgrade-banner">
    </div>
  </div>

  