<!DOCTYPE html>
<html lang="en">
<head>
    <link href='http://localhost:3000/css/danhgia.css' rel='stylesheet' type='text/css'>
    <script>
        $('.testi1').owlCarousel({
        loop: true,
        margin: 30,
        nav: false,
        dots: true,
        autoplay: true,
        responsiveClass: true,
        responsive: {
            0: {
            items: 1,
            nav: false
            },
            1024: {
            items: 2
            }
        }
        });
    </script>
</head>

<body>
    
</body>
</html>