<style>
    div.footer{
      background-image: linear-gradient(135deg, rgb(216, 243, 255), rgb(255, 255, 255));
      color: rgb(0, 0, 0);
    }
    div.topfooter{
      height: 300px;
      margin-top: 100px;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-image: url('https://www.kerntraining.com/fileadmin/user_upload/sprachkurse.jpg');
      background-size:cover;
      background-blend-mode: multiply;
    }
    div.topfooter div.con{
      background-image: linear-gradient(135deg,rgba(153, 217, 247, 0.8),rgba(255, 255, 255, 0.8));
      height: 100%;
      text-align: center;
    }
    div.topfooter h4{
      font-size: 30pt;
      font-weight: 900;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    }
    div a{
      text-decoration: none;
      color: rgb(0, 0, 0);
    }
  
    textarea{
      resize: none;
      border-radius: 15px;
      background-color: whitesmoke;
      width: 230px;
      opacity: 0.8;
    }
    div.align-items-start:hover{
      border-radius: 20px;
      box-shadow: 1px 1px 3px gray;
      transition: all 0.5s ease-in-out;
    }
  
  </style>
  <div>
  <div class="topfooter" id="footer">
    <div class="px-4 py-5 footer con" id="icon-grid" >
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
  
        <div class="col d-flex align-items-start">
          <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"></use></svg>
          <div>
            <h4 class="fw-bold mb-0">400</h4>
            <p>ONLINE COURSES</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"></use></svg>
          <div>
            <h4 class="fw-bold mb-0">4,500</h4>
            <p>STUDENTS ENROLLED</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"></use></svg>
          <div>
            <h4 class="fw-bold mb-0">1,200</h4>
            <p>EXPERTS INSTRUCTORS</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"></use></svg>
          <div>
            <h4 class="fw-bold mb-0">300</h4>
            <p>HOURS CONTENT</p>
          </div>
        </div>
    
        </div>
    </div>
  
  </div>
  
  
  <div class="px-4 py-5 footer" id="icon-grid" id="">
    <div data-aos="fade-down"
    data-aos-duration="1000">
    <h2 class="pb-2 border-bottom">Thanks Nhang Courses</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"></use></svg>
        <div>
          <h4 class="fw-bold mb-0">Personal Blog</h4>
          <div class="mt-1">
            <p><i class="bi bi-facebook"></i><a href="">&nbsp;&nbsp;&nbsp; Fanpage</p></a>
          </div>
          <div class="mt-1">
            <p><i class="bi bi-youtube"></i><a href="">&nbsp;&nbsp;&nbsp; Youtube</p></a>
          </div>
          <div class="mt-1">
            <p><i class="bi bi-twitter"></i><a href="">&nbsp;&nbsp;&nbsp; Twitter</p></a>
          </div>
          
        </div>
      </div>
      
      
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"></use></svg>
        <div>
          <h4 class="fw-bold mb-0">About us</h4>
          <p>This is the website that provides the best online programming courses for anyone who wants to start learning to code.</p>
        </div>
      </div>
      
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"></use></svg>
        <div>
          <h4 class="fw-bold mb-0">Infomation</h4>
          <div class="mt-1">
            <p><i class="bi bi-telephone-fill"></i>&nbsp;&nbsp;&nbsp; Hotline:(+84) 972667944</i></p>
          </div>
          <div class="mt-1">
            <p><i class="bi bi-envelope-fill"></i><a href="">&nbsp;&nbsp;&nbsp; Email: <i>ttnhang@gmail.com</i></a></p>
          </div>
        </div>
      </div>
  
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"></use></svg>
        <div class="col-md-4">
          <h4 class="fw-bold mb-0">Contact</h4>
                      
            <div >
              Contents
                          <textarea rows="4">
              </textarea>
                      </div>
              <button type="button" class="btn btn-info" style="border-radius: 20px; margin-bottom: 20px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"></path>
              </svg>
              Send
            </button>
        </div>
      </div>
  
    </div>
  </div>
  </div>
  </div>