<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--========== BOX ICONS ==========-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--========== CSS ==========-->

    <title>Responsive sidebar submenus</title>
    <style>
      /*========== GOOGLE FONTS ==========*/
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

      /*========== VARIABLES CSS ==========*/
      :root {
        --header-height: 3.5rem;
        --nav-width: 219px;

        /*========== Colors ==========*/
        --first-color: #6923d0;
        --first-color-light: #f4f0fa;
        --title-color: #19181b;
        --text-color: #58555e;
        --text-color-light: #a5a1aa;
        --body-color: #f9f6fd;
        --container-color: #ffffff;

        /*========== Font and typography ==========*/
        --body-font: "Poppins", sans-serif;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.75rem;
        --smaller-font-size: 0.75rem;

        /*========== Font weight ==========*/
        --font-medium: 500;
        --font-semi-bold: 600;

        /*========== z index ==========*/
        --z-fixed: 100;
      }

      @media screen and (min-width: 1024px) {
        :root {
          --normal-font-size: 1rem;
          --small-font-size: 0.875rem;
          --smaller-font-size: 0.813rem;
        }
      }

      /*========== BASE ==========*/
      *,
      ::before,
      ::after {
        box-sizing: border-box;
      }

      body {
        margin: var(--header-height) 0 0 0;
        padding: 1rem 1rem 0;
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        background-color: var(--body-color);
        color: var(--text-color);
      }

      h3 {
        margin: 0;
      }

      a {
        text-decoration: none;
      }

      img {
        max-width: 100%;
        height: auto;
      }

      /*========== HEADER ==========*/
      .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--container-color);
        box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
        padding: 0 1rem;
        z-index: var(--z-fixed);
      }

      .header__container {
        display: flex;
        align-items: center;
        height: var(--header-height);
        justify-content: space-between;
      }

      .header__img {
        width: 35px;
        height: 35px;
        margin-right: 120px;
        border-radius: 50%;
        
        font-family:  "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: 700;
        color: #515151;
     
        font-style: italic;
      }

      .header__logo {
        color: var(--title-color);
        font-weight: var(--font-medium);
        display: none;
      }

      .header__search {
        display: flex;
        padding: 0.4rem 0.75rem;
        background-color: var(--first-color-light);
        border-radius: 0.25rem;
      }

      .header__input {
        width: 100%;
        border: none;
        outline: none;
        background-color: var(--first-color-light);
      }

      .header__input::placeholder {
        font-family: var(--body-font);
        color: var(--text-color);
      }

      .header__icon,
      .header__toggle {
        font-size: 1.2rem;
      }

      .header__toggle {
        color: var(--title-color);
        cursor: pointer;
      }

      /*========== NAV ==========*/
      .nav {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        padding: 1rem 1rem 0;
        background-color: var(--container-color);
        box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
        z-index: var(--z-fixed);
        transition: 0.4s;
      }

      .nav__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 3rem;
        overflow: auto;
        scrollbar-width: none; /* For mozilla */
      }

      /* For Google Chrome and others */
      .nav__container::-webkit-scrollbar {
        display: none;
      }

      .nav__logo {
        font-weight: var(--font-semi-bold);
        margin-bottom: 2.5rem;
      }

      .nav__list,
      .nav__items {
        display: grid;
      }

      .nav__list {
        row-gap: 2.5rem;
      }

      .nav__items {
        row-gap: 1.5rem;
      }

      .nav__subtitle {
        font-size: var(--normal-font-size);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        color: var(--text-color-light);
      }

      .nav__link {
        display: flex;
        align-items: center;
        color: var(--text-color);
      }

      .nav__link:hover {
        color: var(--first-color);
      }

      .nav__icon {
        font-size: 1.2rem;
        margin-right: 0.5rem;
      }

      .nav__name {
        font-size: var(--small-font-size);
        font-weight: var(--font-medium);
        white-space: nowrap;
      }

      .nav__logout {
        margin-top: 5rem;
      }

      /* Dropdown */
      .nav__dropdown {
        overflow: hidden;
        max-height: 21px;
        transition: 0.4s ease-in-out;
      }

      .nav__dropdown-collapse {
        background-color: var(--first-color-light);
        border-radius: 0.25rem;
        margin-top: 1rem;
      }

      .nav__dropdown-content {
        display: grid;
        row-gap: 0.5rem;
        padding: 0.75rem 2.5rem 0.75rem 1.8rem;
      }

      .nav__dropdown-item {
        font-size: var(--smaller-font-size);
        font-weight: var(--font-medium);
        color: var(--text-color);
      }

      .nav__dropdown-item:hover {
        color: var(--first-color);
      }

      .nav__dropdown-icon {
        margin-left: auto;
        transition: 0.4s;
      }

      /* Show dropdown collapse */
      .nav__dropdown:hover {
        max-height: 100rem;
      }

      /* Rotate icon arrow */
      .nav__dropdown:hover .nav__dropdown-icon {
        transform: rotate(180deg);
      }

      /*===== Show menu =====*/
      .show-menu {
        left: 0;
      }

      /*===== Active link =====*/
      .active {
        color: var(--first-color);
      }

      /* ========== MEDIA QUERIES ==========*/
      /* For small devices reduce search*/
      @media screen and (max-width: 320px) {
        .header__search {
          width: 70%;
        }
      }

      @media screen and (min-width: 768px) {
        body {
          padding: 1rem 3rem 0 6rem;
        }
        .header {
          padding: 0 3rem 0 6rem;
        }
        .header__container {
          height: calc(var(--header-height) + 0.5rem);
        }
        .header__search {
          width: 300px;
          padding: 0.55rem 0.75rem;
        }
        .header__toggle {
          display: none;
        }
        .header__logo {
          display: block;
        }
        .header__img {
          width: 40px;
          height: 40px;
          order: 1;
        }
        .nav {
          left: 0;
          padding: 1.2rem 1.5rem 0;
          width: 68px; /* Reduced navbar */
        }
        .nav__items {
          row-gap: 1.7rem;
        }
        .nav__icon {
          font-size: 1.3rem;
        }

        /* Element opacity */
        .nav__logo-name,
        .nav__name,
        .nav__subtitle,
        .nav__dropdown-icon {
          opacity: 0;
          transition: 0.3s;
        }

        /* Navbar expanded */
        .nav:hover {
          width: var(--nav-width);
        }

        /* Visible elements */
        .nav:hover .nav__logo-name {
          opacity: 1;
        }
        .nav:hover .nav__subtitle {
          opacity: 1;
        }
        .nav:hover .nav__name {
          opacity: 1;
        }
        .nav:hover .nav__dropdown-icon {
          opacity: 1;
        }
      }

      .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      }
      .content-table thead tr {
        background-color: #58555e;
        color: #ffffff;
        text-align: left;
        font-weight: var(--font-semi-bold);
      }
      .content-table th,
      .content-table td {
        padding: 12px 15px;
      }
      .content-table tbody tr {
        border-bottom: 1px solid #19181b;
      }
      .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
      }
      .content-table tbody tr:last-of-type {
        border-bottom: 2px solid #19181b;
      }
      .content-table tbody tr.active-row {
        font-weight: var(--font-semi-bold);
        color: var(--first-color);
      }
    </style>
  </head>
  <body>
    <!--========== HEADER ==========-->
    <header class="header">
      <div class="header__container">
       
        <!-- <img src="./Logo.png" alt="" class="header__img" /> -->
        <div class="header__img">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-secondary bg-danger"><i class="fa-sharp fa-solid fa-phone"></i></button>
          <button type="button" class="btn btn-secondary"><i class="fa-sharp fa-solid fa-envelope"></i></button>
        
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Truy cập 
              
            </button>
            <div class="dropdown-menu bg-info" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item " style="font-weight: 700 ;font-family:Arial, Helvetica, sans-serif;" href="#">Đăng nhập</a>
              <a class="dropdown-item " style="font-weight: 700 ;font-family:Arial, Helvetica, sans-serif;" href="/dangkyadmin">Đăng ký</a>
            </div>
          </div>
        </div>
      </div>
                
        <a href="/" class="header__logo">Luxstay.vn  <i class="fa-sharp fa-solid fa-house-circle-check"></i></a>

        <div class="header__search">
          <input type="search" placeholder="Bạn muốn tìm gì?" class="header__input" />
          <i class="bx bx-search header__icon"></i>
        </div>
        
       <div class="header__toggle">
          <i class="bx bx-menu" id="header-toggle"></i>
        </div> 
        
      </div>
      
    </header>

    <!--========== NAV ==========-->
    <div  class="nav" id="navbar">
      <nav class="nav__container">
        <div>
          <a href="/dangkyadmin" class="nav__link nav__logo">
            <i class="bx bxs-disc nav__icon"></i>
            <span class="nav__logo-name">Admin login</span>
          </a>

          <div class="nav__list">
            <div class="nav__items">
              <h3 class="nav__subtitle">Profile</h3>

              <a href="#" class="nav__link active">
                <i class="bx bx-home nav__icon"></i>
                <span class="nav__name">Home</span>
              </a>

              <div class="nav__dropdown">
                <a href="#" class="nav__link">
                  <i class="bx bx-user nav__icon"></i>
                  <span class="nav__name">Profile</span>
                  <i
                    class="bx bx-chevron-down nav__icon nav__dropdown-icon"
                  ></i>
                </a>

                <div class="nav__dropdown-collapse">
                  <div class="nav__dropdown-content">
                    <a href="#" class="nav__dropdown-item">Passwords</a>
                    <a href="#" class="nav__dropdown-item">Mail</a>
                    <a href="#" class="nav__dropdown-item">Accounts</a>
                  </div>
                </div>
              </div>

              <a href="/views_danhsach_baidang" class="nav__link">
                <i class="bx bx-message-rounded nav__icon"></i>
                <span class="nav__name">Messages</span>
              </a>
            </div>

            <div class="nav__items">
              <h3 class="nav__subtitle">Menu</h3>

              <div class="nav__dropdown">
                <a href="/views_danhsach_baidang" class="nav__link">
                  <i class="bx bx-store nav__icon"></i>
                  <span class="nav__name">Manage</span>
                  <i
                    class="bx bx-chevron-down nav__icon nav__dropdown-icon"
                  ></i>
                </a>

                <div class="nav__dropdown-collapse">
                  <div class="nav__dropdown-content">
                    <a href="/views_danhsach_admin" class="nav__dropdown-item">Quản trị viên</a>
                    <a href="#" class="nav__dropdown-item">Post a news</a>
                    <a href="#" class="nav__dropdown-item">Users</a>
                    <a href="#" class="nav__dropdown-item">Motel</a>
                  </div>
                </div>
              </div>

              <a href="#" class="nav__link">
                <i class="bx bx-compass nav__icon"></i>
                <span class="nav__name">Setting</span>
              </a>
              <a href="#" class="nav__link">
                <i class="bx bx-bookmark nav__icon"></i>
                <span class="nav__name">About Us</span>
              </a>
            </div>
          </div>
        </div>

        <a href="#" class="nav__link nav__logout">
          <i class="bx bx-log-out nav__icon"></i>
          <span class="nav__name">Log Out</span>
        </a>
      </nav>
      
    </div>

    <!--========== CONTENTS ==========-->
  

    <!--========== MAIN JS ==========-->
    <script src="main.js"></script>
  </body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Trang Chủ</title>
    
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :root {
        --font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont,
          "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
          "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
          "Noto Color Emoji";
      }

      *,
      *::before,
      *::after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      html {
        font-family: sans-serif;
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }

      nav {
        display: block;
      }

      body {
        margin: 0;
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #515151;
        text-align: left;
        background-color: #e9edf4;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 0;
        margin-bottom: 0.5rem;
      }

      p {
        margin-top: 0;
        margin-bottom: 1rem;
      }

      a {
        color: #3f84fc;
        text-decoration: none;
        background-color: transparent;
      }

      a:hover {
        color: #0458eb;
        text-decoration: underline;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      .h1,
      .h2,
      .h3,
      .h4,
      .h5,
      .h6 {
        font-family: "Nunito", sans-serif;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
      }

      h1,
      .h1 {
        font-size: 2.5rem;
        font-weight: normal;
      }

      .card {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0;
      }

      .card-body {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
      }

      .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        text-align: center;
      }

      .dashboard {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        min-height: 100vh;
      }

      .dashboard-app {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 2;
        -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
        margin-top: 84px;
      }

      .dashboard-content {
        -webkit-box-flex: 2;
        -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
        padding: 25px;
      }

      .dashboard-nav {
        min-width: 238px;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        overflow: auto;
        background-color: #373193;
      }

      .dashboard-compact .dashboard-nav {
        display: none;
      }

      .dashboard-nav header {
        min-height: 84px;
        padding: 8px 27px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }

      .dashboard-nav header .menu-toggle {
        display: none;
        margin-right: auto;
      }

      .dashboard-nav a {
        color: #515151;
      }

      .dashboard-nav a:hover {
        text-decoration: none;
      }

      .dashboard-nav {
        background-color: #443ea2;
      }

      .dashboard-nav a {
        color: #fff;
      }

      .brand-logo {
        font-family: "Nunito", sans-serif;
        font-weight: bold;
        font-size: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        color: #515151;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }

      .brand-logo:focus,
      .brand-logo:active,
      .brand-logo:hover {
        color: #dbdbdb;
        text-decoration: none;
      }

      .brand-logo i {
        color: #d2d1d1;
        font-size: 27px;
        margin-right: 10px;
      }

      .dashboard-nav-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
      }

      .dashboard-nav-item {
        min-height: 56px;
        padding: 8px 20px 8px 70px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        letter-spacing: 0.02em;
        transition: ease-out 0.5s;
      }

      .dashboard-nav-item i {
        width: 36px;
        font-size: 19px;
        margin-left: -40px;
      }

      .dashboard-nav-item:hover {
        background: rgba(255, 255, 255, 0.04);
      }

      .active {
        background: rgba(0, 0, 0, 0.1);
      }

      .dashboard-nav-dropdown {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
      }

      .dashboard-nav-dropdown.show {
        background: rgba(255, 255, 255, 0.04);
      }

      .dashboard-nav-dropdown.show > .dashboard-nav-dropdown-toggle {
        font-weight: bold;
      }

      .dashboard-nav-dropdown.show > .dashboard-nav-dropdown-toggle:after {
        -webkit-transform: none;
        -o-transform: none;
        transform: none;
      }

      .dashboard-nav-dropdown.show > .dashboard-nav-dropdown-menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
      }

      .dashboard-nav-dropdown-toggle:after {
        content: "";
        margin-left: auto;
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid rgba(81, 81, 81, 0.8);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
      }

      .dashboard-nav .dashboard-nav-dropdown-toggle:after {
        border-top-color: rgba(255, 255, 255, 0.72);
      }

      .dashboard-nav-dropdown-menu {
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
      }

      .dashboard-nav-dropdown-item {
        min-height: 40px;
        padding: 8px 20px 8px 70px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        transition: ease-out 0.5s;
      }

      .dashboard-nav-dropdown-item:hover {
        background: rgba(255, 255, 255, 0.04);
      }

      .menu-toggle {
        position: relative;
        width: 42px;
        height: 42px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #443ea2;
      }

      .menu-toggle:hover,
      .menu-toggle:active,
      .menu-toggle:focus {
        text-decoration: none;
        color: #875de5;
      }

      .menu-toggle i {
        font-size: 20px;
      }

      .dashboard-toolbar {
        min-height: 84px;
        background-color: #dfdfdf;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 8px 27px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
      }

      .nav-item-divider {
        height: 1px;
        margin: 1rem 0;
        overflow: hidden;
        background-color: rgba(236, 238, 239, 0.3);
      }

      @media (min-width: 992px) {
        .dashboard-app {
          margin-left: 238px;
        }

        .dashboard-compact .dashboard-app {
          margin-left: 0;
        }
      }

      @media (max-width: 768px) {
        .dashboard-content {
          padding: 15px 0px;
        }
      }

      @media (max-width: 992px) {
        .dashboard-nav {
          display: none;
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          z-index: 1070;
        }

        .dashboard-nav.mobile-show {
          display: block;
        }
      }

      @media (max-width: 992px) {
        .dashboard-nav header .menu-toggle {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
        }
      }

      @media (min-width: 992px) {
        .dashboard-toolbar {
          left: 238px;
        }

        .dashboard-compact .dashboard-toolbar {
          left: 0;
        }
      }
      .hello
      {
        margin: 0;
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
       
        font-weight: 600;
        color:#0B89BF;
        padding-right: 70px;
      }
      .hello2
      {
        margin: 0;
        font-family:  "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: 700;
        color: #515151;
        margin-right: auto;
        font-style: italic;
        
      }
      .hello3
      {
        margin: 0;
        font-family:  "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: 700;
        color:whitesmoke;
        text-align: center;
      }
    </style>
    <script>
     var Implement= function()
      {
      const mobileScreen = window.matchMedia("(max-width: 990px )");
      $(document).ready(function () {
        $(".dashboard-nav-dropdown-toggle").click(function () {
          $(this)
            .closest(".dashboard-nav-dropdown")
            .toggleClass("show")
            .find(".dashboard-nav-dropdown")
            .removeClass("show");
          $(this).parent().siblings().removeClass("show");
        });
        $(".menu-toggle").click(function () {
          if (mobileScreen.matches) {
            $(".dashboard-nav").toggleClass("mobile-show");
          } else {
            $(".dashboard").toggleClass("dashboard-compact");
          }
        });
      });
    }
    </script>
  </head>
  <body>
    <div  class="dashboard">
      <div class="dashboard-nav">
        <header>
          <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a
          ><a href="#" class="brand-logo"
            ><i  class="fas fa-anchor"></i></i> <span>Elanoss </span></a
          >
        </header>
        <nav class="dashboard-nav-list">
          <a href="#" class="dashboard-nav-item"
            ><i class="fas fa-home"></i> Trang chủ </a
          ><a href="#" class="dashboard-nav-item active"
            ><i class="fas fa-tachometer-alt"></i> Tải app </a
          ><a href="/Views_DS_Baiviet" class="dashboard-nav-item"
            ><i class="fas fa-file-upload"></i> Đăng phòng
          </a>
          <div class="dashboard-nav-dropdown">
            <a
            onclick="Implement()"
              href="#"
              class="dashboard-nav-item dashboard-nav-dropdown-toggle"
              ><i class="fas fa-photo-video"></i> Quản lý
            </a>
            <div class="dashboard-nav-dropdown-menu">
              <a href="#" class="dashboard-nav-dropdown-item">All</a
              ><a href="#" class="dashboard-nav-dropdown-item">Recent</a
              ><a href="#" class="dashboard-nav-dropdown-item">Images</a
              ><a href="#" class="dashboard-nav-dropdown-item">Video</a>
            </div>
          </div>
          <div class="dashboard-nav-dropdown">
            <a
            onclick="Implement()"
              href="#!"
              class="dashboard-nav-item dashboard-nav-dropdown-toggle"
              ><i class="fas fa-users"></i> Người dùng
            </a>
            <div class="dashboard-nav-dropdown-menu">
              <a href="#" class="dashboard-nav-dropdown-item">All</a
              ><a href="#" class="dashboard-nav-dropdown-item">Subscribed</a
              ><a href="#" class="dashboard-nav-dropdown-item">Non-subscribed</a
              ><a href="#" class="dashboard-nav-dropdown-item">Banned</a
              ><a href="#" class="dashboard-nav-dropdown-item">New</a>
            </div>
          </div>
          <div class="dashboard-nav-dropdown">
            <a
            onclick="Implement()" 
              href="#!"
              class="dashboard-nav-item dashboard-nav-dropdown-toggle"
              ><i class="fas fa-money-check-alt"></i> Thanh toán
            </a>
            <div class="dashboard-nav-dropdown-menu">
              <a href="#" class="dashboard-nav-dropdown-item">All</a
              ><a href="#" class="dashboard-nav-dropdown-item">Recent</a
              ><a href="#" class="dashboard-nav-dropdown-item"> Projections</a>
            </div>
          </div>
          <a href="#" class="dashboard-nav-item"
            ><i class="fas fa-cogs"></i> Cài đặt </a
          ><a href="#" class="dashboard-nav-item"
            ><i  class="fas fa-user"></i> Profile
          </a>
          <div class="nav-item-divider"></div>
          <a style="padding-bottom: 80px;" href="#" class="dashboard-nav-item"
            ><i class="fas fa-sign-out-alt"></i> Đăng xuất
          </a>
        
        </nav>
        <a href="#" 
        > <p class="hello3">Version 4.12.0</p>
      </a>
       
      </div>
      <div class="dashboard-app">
        <header class="dashboard-toolbar">
          <a onclick="Implement()" href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
          <h1 class="hello">Elanoss <i class="fa-sharp fa-solid fa-house-circle-check"></i></h1>
          <h3 class="hello2">Hệ thống tìm trọ uy tính nhất Việt Nam</h3>
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-secondary bg-danger"><i class="fa-sharp fa-solid fa-phone"></i></button>
            <button type="button" class="btn btn-secondary"><i class="fa-sharp fa-solid fa-envelope"></i></button>
          
            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Truy cập 
                
              </button>
              <div class="dropdown-menu bg-info" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item " style="font-weight: 700 ;font-family:Arial, Helvetica, sans-serif;" href="#">Đăng nhập</a>
                <a class="dropdown-item " style="font-weight: 700 ;font-family:Arial, Helvetica, sans-serif;" href="#">Đăng ký</a>
              </div>
            </div>
          </div>
        
        </header>
    
      </div>
      
    </div>
    


  </body>
</html> -->
